 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "oswald" sans-serif;
}

/*******Modal CSS*******/
#modal-area{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.modal-content{
	position: absolute;
	width: 500px;
	height: 300px;
	background: #fff;
	padding: 30px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal-content p{
	line-height: 24px;
	padding: 20px 0;
}
.modal-close{
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #000;
	color: #fff;
	right: -20px;
	top: -20px;
	font-size: 20px;
	line-height: 40px;
	transform: rotate(45deg);
	cursor: pointer;
}